
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AKR MIMARLIK</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>


    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="splash-screen">
      <img src="images/logoakr.png" alt="AKR MİMARLIK" class="splash-logo" />
      <div class="splash-text-container">
          <div class="splash-text"> AKR MİMARLIK</div>
        </div>
  </div>

 
  <div id="main-content">
    <!-- NAVBAR -->
    <section id="home">
      <header>
    
        <div class="company-logo ">
          <img src="images/logoakr.png" alt="AKR MİMARLIK" class="logo-image" />
          <div class="logo-text">AKR MİMARLIK</div>
        </div>
        <nav class="navbar">
          <ul class="nav-items">
            <li class="nav-item"><a href="/" class="nav-link">ANA SAYFA</a></li>
            <li class="nav-item">
              <a href="#about" class="nav-link">HAKKIMIZDA</a>
            </li>
            <li class="nav-item">
              <a href="#services" class="nav-link">HİZMETLERİMİZ</a>
            </li>
            <li class="nav-item">
              <a href="#projects" class="nav-link">PROJELERİMİZ</a>
            </li>
            <li class="nav-item">
              <a href="#contact" class="nav-link">İLETİŞİM</a>
            </li>
          </ul>
        </nav>
        <div class="menu-toggle">
          <i class="bx bx-menu"></i>
          <i class="bx bx-x"></i>
        </div>
      
      </header>

      <!-- NAVBAR END -->

      <!-- SLIDER -->
      <div class="home-container">
      <div id="carouselExampleDark" class="carousel carousel-white slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="3"
            aria-label="Slide 4"
          ></button>
      
        </div>
        <div class="carousel-inner image-container" >
          <div class="carousel-item active" data-bs-interval="2000">
            <img
              src="/images/decoration.jpg"
              class="d-block w-100"
              alt="home-image"
            />
            <div class="carousel-caption d-md-block caption-overlay">
              <h5>Çukurambar <span>İç Dekorasyon Projesi</span></h5>
            </div>
          </div>
          
          <div class="carousel-item" data-bs-interval="3000">
            <img src="/images/decoration2.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption  d-md-block caption-overlay">
              <h5>Çukurambar <span>Villa Projesi</span> </h5>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="/images/decoration3.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption  d-md-block caption-overlay">
              <h5>Çayyolu <span>Konut Projesi</span></h5>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="/images/decoration4.jpg" class="d-block w-100" alt="..." />
            <div class="carousel-caption  d-md-block caption-overlay">
              <h5>Batıkent <span>Konut Projesi</span></h5>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="connect">
        <a href="https://www.instagram.com/akrmimarlik" target="_blank" class="social-link">
          <i class="fa-brands fa-instagram fa-2x"></i>
          <span class="text">instagram/akrmimarlik</span>
        </a>
        <a href="https://api.whatsapp.com/send?phone=05302049704" target="_blank" class="social-link">
          <i class="fa-brands fa-whatsapp fa-2x"></i>
          <span class="text">0 506 371 21 21</span>
        </a>
        <a href="mailto:ozge.erkeskin@hotmail.com" target="_blank" class="social-link">
          <i class="fa-solid fa-envelope fa-2x"></i>
          <span class="text">akrmimarlik@outlook.com</span>
        </a>
      </div>
      
    </div>

      <!-- SLIDER END-->
      
    </section>
    <!-- ABOUT -->
    <section id="about">
      <div class="about-container">
     
          <h1 class="title">Hakkımızda</h1>
          <h2 class="subtitle">
            "Mekanlarınızı Dönüştürürken, Hayallerinizi Şekillendiriyoruz."
          </h2>
          <div class="paragraphs">
            <p class="paragraph">
              AKR Mimarlık, şehrin kalbinde yaratıcılık ve fonksiyonelliği
              birleştiren bir iç mimarlık firmasıdır. Kuruluşumuzdan bu yana,
              müşterilerimizin hayallerini gerçeğe dönüştürüyoruz. Modern,
              minimalist veya klasik, her stili benzersiz bir dokunuşla ele
              alıyoruz.
            </p>
            <p class="paragraph">
              Yaşam alanlarını güzelleştirmek ve en iyi şekilde
              işlevselleştirmek için detaylara büyük önem veriyoruz.
              Müşterilerimizin ihtiyaçlarını dinleyerek, onlara özel tasarımlar
              sunuyoruz. Mekanlarınızı tasarlarken hayallerinizden ilham
              alıyoruz. Her tasarımımızda kullanışlılığı ve görsel zevki sizlere
              bir arada sunuyoruz.
            </p>
           
            <p class="paragraph">
              "Sınırları Aşan Tasarımlar, Sonsuz İmkanlar" anlayışımızla,
              geleneksel iç mimari anlayışının ötesine geçiyor, her müşterimizin
              benzersiz ihtiyaç ve hayallerine özel, yenilikçi çözümler
              sunuyoruz. Hayallerinizi gerçekleştirmek için tutkuyla çalışıyoruz.
              Projelerinizde size eşlik etmek, yaratıcılığımız ve
              profesyonelliğimizle yaşam alanlarınızı dönüştürmek için
              buradayız.
            </p>
          </div>
          <h2 class="mission-title">Misyonumuz</h2>
          <p class="mission">
            Müşterilerimizin yaşam kalitesini artırmak ve her mekanı,
            içindekilerin ruhunu yansıtacak bir sanat eserine dönüştürmek için
            yaratıcılık, yenilikçilik ve profesyonelliği birleştirmek,
            fonksiyonel ve estetik açıdan üstün yaşam alanları yaratmak.
          </p>
          <h2 class="vision-title">Vizyonumuz</h2>
          <p class="vision">
            İç mimarlık sektöründe lider bir firma olmak ve sürdürülebilir
            tasarım anlayışımızla, estetik mekanlar tasarlayarak her projemizle
            müşterilerimizin hayatına pozitif değerler katmak.
          </p>
        
      </div>
    </section>
    <!-- ABOUT END-->

    <!-- SERVICES -->
    <section id="services" style="background: url('images/decoration4.jpg') ">
      <h1 class="services-title">Hizmetlerimiz</h1>

      <div class="container">
        <div class="card">
          <img class="card__image" src="/images/pic1.png" alt="" />
          <div class="card__title">Mimari Uygulama Projeleri</div>
          <button id="detailButton" class="card__button">Detaylı Bilgi</button>
        </div>

        <div class="card">
          <img class="card__image" src="/images/pic2.png" alt="" />
          <div class="card__title">Tadilat Dekorasyon Hizmetleri</div>
          <button id="detailButton2" class="card__button">Detaylı Bilgi</button>
        </div>
        <div class="card">
          <img class="card__image" src="/images/pic3.jpg" alt="" />
          <div class="card__title">Mimari Çözümler</div>
          <button id="detailButton3"class="card__button">Detaylı Bilgi</button>
        </div>
      </div>
      <div class="main-container">
        <div class="grid-container">
          <!-- 1. Row -->
          <div class="grid-item highlight">
            <i class="fa-solid fa-paint-roller icon"></i>
            <div class="content">
              <h2>TADİLAT & DEKORASYON</h2>
              <p>
               Ofis tadilatı, ev dekorasyonu, iş yeri tadiları ve daha bir çok dekorasyon
                uygulamalarını gerçekleştiriyoruz
              </p>
            </div>
          </div>
          <div class="grid-item highlight">
            <i class="fa-solid fa-wallet icon"></i>
            <div class="content">
              <h2>UYGUN FİYAT</h2>
              <p>
                Yaptığı hizmetlerin karşılığında talep edilen hak ediş
                miktarları ile ters bir oran vardır. Böylelikle mutlu müşteri
                hedefimize ulaşmaktayız.
              </p>
            </div>
          </div>
          <!-- 2. Row -->
          <div class="grid-item highlight">
            <i class="fa-solid fa-medal icon"></i>
            <div class="content">
              <h2>UZMAN EKİP</h2>
              <p>
                Alanında profesyonel hizmet veren Tasarım Mimarlık firması
                tasarladığı başarılı projeler ile sektöründe her geçen gün
                adından söz ettirmektedir.
              </p>
            </div>
          </div>
         
          <!-- 3. Row -->
          <div class="grid-item highlight">
            <i class="fa-solid fa-headset icon"></i>
            <div class="content">
              <h2>DESTEK HATTI</h2>
              <p>
                Sektörümüz ile ilgili olarak yardımcı olabileceğimiz tüm sorun
                ve sorularınız için telefon, mail ve ofisimizi ziyaret ederek
                iletebilirsiniz.
              </p>
            </div>
          </div>
          <div class="grid-item highlight">
            <i class="fa-solid fa-handshake icon"></i>
            <div class="content">
              <h2>MEMNUNİYET GARANTİSİ</h2>
              <p>
                Gerçekleştirdiğimiz bir çok projede müşterilerimize verdiğimiz
                hizmet hakkında istedikleri garantörlüğü vermeye çalışıyoruz.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SERVICES END -->

    <!-- PROJECTS -->
    <!-- <section id="text">
      <div
        class="text-box"
        data-text="Hayallerinizi Mekanlara Dönüştürüyoruz..."
      ></div>
    </section> -->
    <section id="projects">
      <h1 class="project-title">Projelerimiz</h1>
      <!-- <div class="video-container">
        <video controls autoplay>
          <source src="images/homevideo.mp4" type="video/mp4" />
          Tarayıcınız video etiketini desteklemiyor.
        </video>
      </div> -->
      <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="video-container" data-bs-interval="25000">
              <video controls autoplay muted>
                <source src="images/homevideo.mp4" type="video/mp4" />
                Tarayıcınız video etiketini desteklemiyor.
              </video>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <div class="video-container">
              <img
                src="images/decoration.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <div class="video-container">
              <img
                src="images/decoration2.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000"> 
            <div class="video-container">
              <img
                src="images/decoration3.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="20000">
            <div class="video-container">
              <video controls autoplay muted >
                <source src="images/homevideo2.mp4" type="video/mp4" />
                Tarayıcınız video etiketini desteklemiyor.
              </video>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <div class="video-container">
              <img
                src="images/decoration4.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <div class="video-container">
              <img
                src="images/decoration5.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <div class="video-container">
              <img
                src="images/decoration6.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <div class="video-container">
              <img
                src="images/decoration7.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <div class="video-container">
              <img
                src="images/decoration8.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <div class="video-container">
              <img
                src="images/decoration9.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <div class="video-container">
              <img
                src="images/decoration10.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <div class="video-container">
              <img
                src="images/decoration11.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <div class="video-container">
              <img
                src="images/decoration12.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <div class="video-container">
              <img
                src="images/decoration13.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="4000">
            <div class="video-container">
              <img
                src="images/decoration14.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!-- PROJECTS END -->

    <!-- CONTACT -->
    <section id="contact">
      <div class="container-contact">
        <div class="left">
          <div class="info">
            <h2 class="contact-title">İLETİŞİM BİLGİLERİMİZ</h2>
          

            <p>
              <strong
                ><i
                  class="fa-solid fa-phone fa-2x"
                  style="margin-right: 15px"
                ></i
              ></strong>
              <a href="tel:+907777777777" style="color: #441f02; text-decoration: none;">+90 777 777 77 77</a>
            </p>
            <p>
              <strong
                ><i
                  class="fa-solid fa-phone fa-2x"
                  style="margin-right: 15px"
                ></i
              ></strong>
              <a href="tel:+907777777777" style="color: #441f02; text-decoration: none;">+90 555 777 88 77</a>
              
            </p>

            <p>
              <strong
                ><i
                  class="fa-solid fa-phone fa-2x"
                  style="margin-right: 15px"
                ></i
              ></strong>
              <a href="tel:+907777777777" style="color: #441f02; text-decoration: none;">+90 555 222 11 33</a>
             
            </p>
            <p>
              <strong
                ><i
                  class="fa-solid fa-envelope fa-2x"
                  style="margin-right: 15px"
                ></i
              ></strong>
              akrmimarlik@outlook.com
            </p>
            <p>
              <strong
                ><i
                  class="fa-solid fa-location-dot fa-2x"
                  style="margin-right: 15px"
                ></i
              ></strong>
              Alacaatlı, 3158. Cd., 06810 
            </p>
            <p>Çankaya/Ankara</p>
          </div>
        </div>
        <div class="right">
          <form id="form" class="topBefore" action="/send-email" method="POST">
            <h2 class="contact-title">İLETİŞİM FORMU</h2>
            <input id="name" name="name" type="text" placeholder="ADINIZ SOYADINIZ" />
            <input id="email" name="email" type="email" placeholder="E-MAIL" />
            <textarea id="message" name="message" placeholder="MESAJINIZ"></textarea>
            <button id="submit" type="submit">GÖNDER!</button>
        </form>
        
        </div>
      </div>
    </section>
    <!-- CONTACT END-->
    <!-- FOOTER -->
  
    <div class="footer-container">
      <p>All right reserved.</p>
    
      <p id="copyright"><p>AKR Mimarlık</p> 
          <i class="fa-regular fa-copyright"></i>  <p id="year"></p> 
      </p>
    
      <p>Powered by Özge Erkeskin</p>
  </div>

  
 
  <!-- FOOTER END-->
    

  </div>
  
  <script>
    function updateYear() {
      var currentYear = new Date().getFullYear();
      document.getElementById('year').textContent = currentYear;
  }
  
  window.onload = function() {
      updateYear();
  };
  </script>
  <script>
    document.getElementById('detailButton').addEventListener('click', function() {
      window.location.href = '/mimariuygulama';
    });
    </script>
    <script>
      document.getElementById('detailButton2').addEventListener('click', function() {
        window.location.href = '/tadilatdekorasyon';
      });
      </script>
      <script>
        document.getElementById('detailButton3').addEventListener('click', function() {
          window.location.href = '/mimaricozumler';
        });
        </script>
        <script>
          


const menuToggle = document.querySelector('.menu-toggle');
const bxMenu = document.querySelector('.bx-menu');
const bxX = document.querySelector('.bx-x');

const navBar = document.querySelector('.navbar');

// --- open menu ---

bxMenu.addEventListener('click', (e)=> {
    if(e.target.classList.contains('bx-menu')){
        navBar.classList.add('show-navbar');
        bxMenu.classList.add('hide-bx');
        bxX.classList.add('show-bx');
    }
})

// --- close menu ---

bxX.addEventListener('click', (e)=> {
    if(e.target.classList.contains('bx-x')){
        navBar.classList.remove('show-navbar');
        bxMenu.classList.remove('hide-bx');
        bxX.classList.remove('show-bx');
    }
})


        </script>
        
 
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
