body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ================= VARIABLE ================ */
:root {
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
  --gray-darker: #444444;
  --gray-dark: #696969;
  --gray: #999999;
  --gray-light: #cccccc;
  --gray-lighter: #ececec;
  --gray-lightest: #f0f0f0;
}

/* ================= BASE ==================== */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.bx {
  font-size: 2.5rem;
}

/* -- BODY -- */
body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

/* ================= NAVBAR ================ */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 1rem 2rem;
}
.company-logo {
  display: flex;
  flex-wrap: nowrap;
  width: 100px;
  height: auto;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo-text {
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  background: -webkit-linear-gradient(
    var(--white-color),
    var(--white-color-alt)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-items {
  display: flex;
}
.nav-item {
  margin: 0 2rem;
}
.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link::before {
  content: "";
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu-toggle {
  display: none;
}
.bx-menu,
.bx-x {
  cursor: pointer;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none !important;
}
#home {
  background-color: var(--dark-color);
}

@media screen and (max-width: 912px) {
  /* ================= HEADER ================ */

  header {
    padding: 0.5rem 1rem;
  }
  .navbar {
    background-color: var(--dark-color);

    right: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 500ms;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .menu-toggle {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}
.image-section,
.text-section {
  flex: 1;

  text-align: justify;

  font-family: Lato, sans-serif;
}
.image-section {
  background-size: cover;
}
.text-section {
  background-color: rgb(0, 0, 0);
}

p {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10px;
  color: white;
}

.main-title {
  color: #f0f0f0;
  font-size: 48px;
  text-align: center;
  margin-top: 50px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
