@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ================= VARIABLE ================ */
:root {
  --primary-color: hsl(9, 92%, 43%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
  --gray-darker: #444444;
  --gray-dark: #696969;
  --gray: #999999;
  --gray-light: #cccccc;
  --gray-lighter: #ececec;
  --gray-lightest: #f0f0f0;
}

/* ================= BASE ==================== */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
.bx {
  font-size: 2.5rem;
}

/* -- BODY -- */
body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* ================= NAVBAR ================ */
header {
  display: flex;
  position: fixed;
  z-index: 1000;
  right: 0;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 0 1rem;
  height: auto;
}
.company-logo {
  display: flex;
  flex-wrap: nowrap;
  width: 100px;
  height: auto;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo-text {
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  background: -webkit-linear-gradient(
    var(--white-color),
    var(--white-color-alt)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-items {
  display: flex;
}
.nav-item {
  margin: 0 2rem;
}
.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  position: relative;
  background: linear-gradient(
    hsl(34.34deg 30.88% 68.31%),
    hsl(9deg 16.18% 32.72%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link::before {
  content: "";
  background: linear-gradient(
    hsl(34.34deg 30.88% 68.31%),
    hsl(9deg 16.18% 32.72%)
  );
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu-toggle {
  display: none;
}
.bx-menu,
.bx-x {
  cursor: pointer;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none !important;
}
#home {
  background-color: var(--dark-color);
  height: 100vh;
}

@media screen and (max-width: 912px) {
  /* ================= HEADER ================ */
  #home {
    height: 100vh;
  }
  .footer-container-large {
    display: none;
  }
  header {
    padding: 0.5rem 1rem;
    position: relative;
  }
  .navbar {
    background-color: var(--dark-color);

    right: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 500ms;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .menu-toggle {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }
}

/* NAVBAR END */

/* HOME PAGE SLIDER */
#carouselExampleDark > div.carousel-indicators > button {
  background-color: var(--primary-color-alt);
  margin-bottom: 15px;
}

.image-container {
  position: relative;
  width: 100vw;

  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: calc(90vh - 40px);
  text-align: center;
  overflow: hidden;
}
.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-caption h5 {
  font-size: 3rem;
  font-weight: bold;
  color: #391f06;
  z-index: 1;
}

.carousel-caption p {
  font-size: 1.5rem;
  color: #ccc;
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  text-align: center;
}

.caption-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.3);
}
#about {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

.image-gallery {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.image-gallery img {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 8px;
}

.about-text h1 {
  margin-top: 0;
}

.about-text p {
  text-align: justify;
  margin: 10px 0;
}

@media (max-width: 768px) {
  #splash-screen {
    animation: fadeOutSplash 0s ease 1s forwards;
  }
  .splash-cursor {
    animation: cursor-animation-mobile 1.8s steps(60) forwards !important;
    width: 4px;
    height: 14px;
  }

  @keyframes cursor-animation-mobile {
    0% {
      left: 33%;
    }

    100% {
      left: 92%;
    }
  }

  .about-container {
    display: block !important;
    flex-direction: column !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 50px !important;
    height: auto !important;
  }
  .image-container {
    height: auto !important;
  }

  #services {
    height: auto !important;
  }

  .container {
    flex-direction: column;

    justify-content: center;
    margin: 0;
    padding-left: 3.2rem;
    height: auto;
    width: 370px;
  }

  .card__title,
  .card__button {
    font-size: 1.5rem !important;
  }

  .card__button {
    font-size: 1rem !important;
  }
  .services-title {
    padding-top: 3rem !important;
    padding-bottom: 0 !important;
  }

  .card__image {
    display: block;
    text-align: center;
  }
  .about-section {
    flex-direction: column;
    align-items: center;
  }

  .image-gallery {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .image-gallery img {
    margin-bottom: 10px;
  }
  .connect {
    display: block !important;
    position: absolute;

    width: 100%;
  }
  .carousel-caption h5 {
    font-size: 1rem;
  }
  .caption-overlay {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .main-container {
    display: block !important;
    flex-direction: column !important;
    margin-top: 0 !important;
  }
  .grid-container {
    display: block !important;
    color: white !important;
  }

  .icon {
    color: #f47d00 !important;
  }
  .container-contact {
    flex-direction: column;
  }
  .carousel-indicators {
    display: none;
  }
  #form {
    transform: scale(0.6) !important;
    margin: 200px !important;
  }
  input,
  textarea,
  #submit {
    width: 500px !important;
  }
  .contact-title {
    font-size: 2.5rem !important;
  }
  .info {
    margin: 215px 15px 215px 15px;
  }

  .info p {
    font-size: 1.3rem !important;
  }
  .fa-2x {
    font-size: 1em;
  }
  .highlight:hover {
    color: white !important;
    gap: 30px;
  }

  .footer-container {
    background-color: rgba(34, 34, 34, 0.7);
    color: rgba(255, 255, 255, 0.7);
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
  .footer-container:hover {
    background-color: rgba(47, 47, 47, 0.9);
    color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
}
.contact-title {
  margin-bottom: 20px;
}
.info p,
.info h2 {
  margin-bottom: 10px;
}
.connect {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  color: white;
  overflow: hidden;
  margin-top: 20px;
}
a.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.text {
  margin-left: 15px;
  color: #ffffff;
}

.social-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.social-link:hover {
  color: rgb(141, 138, 138);
}
.social-link:hover i {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

@keyframes reflection {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
#about {
  background: linear-gradient(to bottom, #ffffff 0%, #595756 100%);
  display: flex;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.about-text {
  flex: 2;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-style: italic;
  margin-bottom: 40px;
}
.paragraph,
.mission,
.vision {
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
}

.title,
.subtitle,
.mission-title,
.vision-title {
  text-align: center;
}
h2.subtitle,
h1.title {
  text-align: center;

  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
#services {
  background-color: #b3aca7;
  justify-content: center;
  align-items: center;
}

.services-title {
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: grey;
}

.container {
  display: flex;
}

.card {
  background-color: white;
  width: 300px;
  transform: scale(0.8);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-right: 2rem;
  flex-basis: calc(33.3333% - 1rem);
  box-sizing: border-box;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
  position: relative;
}
.card__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 45px;

  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  text-align: center;
}

.card {
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card__button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  outline: none;
  padding: 10px 20px;
  color: #fff;
  background-color: #ff6d00;
  width: 150px;

  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0.5, 0, 0, 0.5);
}

.card__button:hover {
  background-color: transparent;
  border: 1px solid #ff6d00;
  color: #ff6d00;
}

.card:hover {
  transform: translateY(-10px);
}

.grid-container {
  display: flex;

  gap: 40px;
  justify-content: space-between;
  transform: scale(0.7);
}

.grid-item {
  display: flex;
}
.highlight {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.highlight:hover {
  transform: scale(1.2);
  filter: brightness(120%);
  color: #000000;
}

.icon {
  font-size: 60px;
  width: auto;
  height: auto;
  margin-right: 20px;
  color: #f47d00;
}

.content {
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0 0 5px 0;
  font-size: 2.1em;
  font-weight: bold;
}
.con-title {
  color: #bababa;
}

.content p {
  max-width: 400px;
  font-weight: bold;
  text-align: justify;
  font-size: 18px;
  color: #a2a2a2;
}

#text {
  background-image: url("/images/projects.png");
}
.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  height: 150px;
  padding: 30px;

  position: relative;
}

.text-box::before {
  content: attr(data-text);

  color: white;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(60, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
#projects {
  background-color: #000000;
}

.video-container {
  position: relative;
  height: 85vh;
}

.video-container video,
.video-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-title {
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 3rem;
  font-family: "Lato", sans-serif;

  color: grey;
}

.container-contact {
  display: flex;
  height: 100vh;
}
@media only screen and (min-width: 769px) {
  .footer-container {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .footer-container-large {
    display: none !important;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem;
  }

  .mission-title,
  .vision-title {
    font-size: 1rem;
  }
  .paragraph,
  .mission,
  .vision {
    font-size: 0.8rem;
  }
  .subtitle {
    margin-bottom: 20px;
  }
}
.left {
  background-image: url("/images/bg2.jpg");
  background-size: cover;
}
.left,
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */
input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder,
input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder,
input:hover::placeholder,
textarea:hover::placeholder,
input:hover::-ms-placeholder,
textarea:hover::-ms-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder,
input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder,
input:hover:focus::placeholder,
textarea:hover:focus::placeholder,
input:hover:focus::-ms-placeholder,
textarea:hover:focus::-ms-placeholder {
  color: #cbc6c1;
}

.right {
  font-family: "Lato", sans-serif;
  background: #e2dedb;
  color: #b3aca7;
}

h2.contact-title {
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
  color: #b3aca7;
}

#form {
  width: 700px;
  margin: 50px auto;
  transform: scale(0.9);
}

input,
textarea,
button {
  width: 702px;
  padding: 20px;

  background: transparent;
  outline: none;
  color: #726659 !important;

  border: solid 1px #b3aca7;
  font-size: 1em;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
}

input:hover,
textarea:hover,
#submit:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  height: 200px;
  color: #e2dedb;
}

#submit {
  width: 702px;
  margin-top: -5px;

  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #b3aca7;

  outline: none;
  cursor: pointer;
  border: solid 1px #b3aca7;
}

#submit:hover {
  color: #e2dedb;
}
.info {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.622);
  padding: 20px;
  box-shadow: #444444;
}

.info h2 {
  color: #000000;
  font-size: 2.3em;
}
.info p {
  font-size: 1.5em;
  color: #000000;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  font-weight: bold;
}

strong {
  color: #000000;
}

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: black;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 9999;
  animation: fadeOutSplash 3s ease 3s forwards;
}
.splash-logo {
  width: 100px;
  height: auto;
}
.splash-cursor {
  display: inline-block;
  width: 8px;
  height: 28px;
  background-color: #fa9e27;
  margin-left: 5px;
  position: absolute;
  animation: cursor-animation 2s steps(50) forwards;
}

.splash-text {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #e0ddd9;
  white-space: pre;
  overflow: hidden;
  position: relative;
  animation: typing 2s steps(45) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes cursor-animation {
  0% {
    left: 47%;
  }
  100% {
    left: 61%;
  }
}

@keyframes fadeOutSplash {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Stil.css */

.footer-container-large {
  background-color: rgba(34, 34, 34, 0.7);
  color: rgba(255, 255, 255, 0.7);
  padding-top: 30px;
  padding-bottom: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  clear: both !important;
  gap: 10px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
.footer-container-large:hover {
  background-color: rgba(47, 47, 47, 0.9);
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.footer-container-large p {
  margin: 0;
  display: flex;
  align-items: center;
  white-space: normal;
  color: #ccc;
}
.footer-container-large p span {
  font-weight: bold;
  color: #ccc;
}

.footer-container p span {
  font-weight: bold;
  color: #ccc;
}

.fa-regular {
  color: #ccc;
}

.footer-container p span {
  background: -webkit-linear-gradient(
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
